.todo-list-item {
  display: flex;
  margin: 0 -3rem 15px;
  padding: 1.1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  height: 50px;
}

.list-item {
  position: relative;
  transition: opacity 0.4s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  width: 310px;
  margin: 25px 10px;
}

.done {
  background: green;
}

button {
  border: none;
  font-size: 1em;
  margin: 0.4em;
  background: none;
  cursor: pointer;
  color: #fff;
}


